@font-face {
  font-family: "PartyCoreUI";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/InterDisplay-Light.woff2") format("woff2");
}

:root {
  --ui-color: #fff;
  --background-color: #222;
  --deactivated: rgba(127.5,127.5,127.5,0.3);
  --slider-track: rgba(127.5,127.5,127.5,0.15);
  --step-width: calc(100% / 15);
}

html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: PartyCoreUI;
  font-variation-settings: "wght" 250;
  font-feature-settings:
    "calt" 01,
    "dlig" 01,
    "case" 01,
    "ss01" 01,
    "ss02" 01,
    "ss07" 01,
    "ss08" 01,
    "cv10" 01,
    "cv13" 00;
    -webkit-font-smoothing: antialiased;
    font-size: 23px;
    line-height: 1;
    letter-spacing: 0.0125em;
    text-transform: lowercase;
    background: var(--background-color);
    color: var(--ui-color);
}

@media (prefers-color-scheme: light) {
  html {
    color: var(--background-color);
    background: var(--ui-color);
  }
}

html * {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  min-height: 100dvh;
  margin: 0;
  padding: 20px 20px 25px;
  box-sizing: border-box;
}

header,
footer {
  width: 100%;
  max-width: 902px;
  text-align: left;
}

header a,
footer a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: .1em;
}

.partymix_index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100dvh - 45px);
  max-width: 902px;
  gap: 1rem;
}

.partymix_index ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

.partymix_index ul a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 44px;
  box-sizing: border-box;
  padding-bottom: 5px;
  border: 1.5px solid;
  border-radius: 27px;
  font-size: 28px;
  color: inherit;
  text-decoration: none;
}


main {
  margin: auto;
  height: fit-content;
  min-height: 1px!important;
}

#sequencer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
  padding: 5px;
}

.track {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
  color: var(--ui-color);
}

.track h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  -webkit-user-select: none;
  user-select: none;
}

.steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.steps label {
  position: relative;
  overflow: visible;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  border: 1.5px solid;
  border-radius: 27px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-size: 28px;
}

.track[data-loop-start="0"] label:nth-child(1),
.track[data-loop-start="0"] label:nth-child(1) ~ label,
.track[data-loop-start="1"] label:nth-child(1) ~ label,
.track[data-loop-start="2"] label:nth-child(2) ~ label,
.track[data-loop-start="3"] label:nth-child(3) ~ label,
.track[data-loop-start="4"] label:nth-child(4) ~ label,
.track[data-loop-start="5"] label:nth-child(5) ~ label,
.track[data-loop-start="6"] label:nth-child(6) ~ label,
.track[data-loop-start="7"] label:nth-child(7) ~ label,
.track[data-loop-start="8"] label:nth-child(8) ~ label,
.track[data-loop-start="9"] label:nth-child(9) ~ label,
.track[data-loop-start="10"] label:nth-child(10) ~ label,
.track[data-loop-start="11"] label:nth-child(11) ~ label,
.track[data-loop-start="12"] label:nth-child(12) ~ label,
.track[data-loop-start="13"] label:nth-child(13) ~ label,
.track[data-loop-start="14"] label:nth-child(14) ~ label,
.track[data-loop-start="15"] label:nth-child(15) ~ label {
  opacity: 1;
}


.steps label,
.track[data-loop-end="0"] label:nth-child(1) ~ label,
.track[data-loop-end="1"] label:nth-child(2) ~ label,
.track[data-loop-end="2"] label:nth-child(3) ~ label,
.track[data-loop-end="3"] label:nth-child(4) ~ label,
.track[data-loop-end="4"] label:nth-child(5) ~ label,
.track[data-loop-end="5"] label:nth-child(6) ~ label,
.track[data-loop-end="6"] label:nth-child(7) ~ label,
.track[data-loop-end="7"] label:nth-child(8) ~ label,
.track[data-loop-end="8"] label:nth-child(9) ~ label,
.track[data-loop-end="9"] label:nth-child(10) ~ label,
.track[data-loop-end="10"] label:nth-child(11) ~ label,
.track[data-loop-end="11"] label:nth-child(12) ~ label,
.track[data-loop-end="12"] label:nth-child(13) ~ label,
.track[data-loop-end="13"] label:nth-child(14) ~ label,
.track[data-loop-end="14"] label:nth-child(15) ~ label,
.track[data-loop-end="15"] label:nth-child(16) ~ label {
  opacity: 0.4;
}


.steps label input {
  position: absolute;
  left: 5000%;
}

.steps label span {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 25px;
  margin: -1px;
  box-sizing: border-box;
  padding: 6px;
}

.steps label:focus span {
}

.steps label input:checked + span {
  background: var(--ui-color);
  color: var(--background-color);
}

@media (prefers-color-scheme: light) {
  .steps label input:checked + span {
    color: #fff;
  }
}

.steps label:focus input:checked + span {
  opacity: 0.8;
}

.steps label div {
  display: block;
  width: 100%;
  height: 44px;
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent!important;
}

.steps label div:after {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: var(--deactivated);
  transition: ease 0.2s;
}

.steps label div.active:after {
  background: var(--ui-color);
  transform: 0s;
}


/* slider styles */
/* See: https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */

.slider {
  margin-top: 10px;
  background-color: transparent!important;
}

.slider:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 5px;
  background: var(--ui-color);
/*   z-index: 10; */
}

.track[data-loop-start="0"] .slider:after {
  left: calc(var(--step-width) * 0);
}
.track[data-loop-start="1"] .slider:after {
  left: calc(var(--step-width) * 1);
}
.track[data-loop-start="2"] .slider:after {
  left: calc(var(--step-width) * 2);
}
.track[data-loop-start="3"] .slider:after {
  left: calc(var(--step-width) * 3);
}
.track[data-loop-start="4"] .slider:after {
  left: calc(var(--step-width) * 4);
}
.track[data-loop-start="5"] .slider:after {
  left: calc(var(--step-width) * 5);
}
.track[data-loop-start="6"] .slider:after {
  left: calc(var(--step-width) * 6);
}
.track[data-loop-start="7"] .slider:after {
  left: calc(var(--step-width) * 7);
}
.track[data-loop-start="8"] .slider:after {
  left: calc(var(--step-width) * 8);
}
.track[data-loop-start="9"] .slider:after {
  left: calc(var(--step-width) * 9);
}
.track[data-loop-start="10"] .slider:after {
  left: calc(var(--step-width) * 10);
}
.track[data-loop-start="11"] .slider:after {
  left: calc(var(--step-width) * 11);
}
.track[data-loop-start="12"] .slider:after {
  left: calc(var(--step-width) * 12);
}
.track[data-loop-start="13"] .slider:after {
  left: calc(var(--step-width) * 13);
}
.track[data-loop-start="14"] .slider:after {
  left: calc(var(--step-width) * 14);
}
.track[data-loop-start="15"] .slider:after {
  left: calc(var(--step-width) * 15);
}


.track[data-loop-end="0"] .slider:after {
  right: calc(var(--step-width) * 15);
}
.track[data-loop-end="1"] .slider:after {
  right: calc(var(--step-width) * 14);
}
.track[data-loop-end="2"] .slider:after {
  right: calc(var(--step-width) * 13);
}
.track[data-loop-end="3"] .slider:after {
  right: calc(var(--step-width) * 12);
}
.track[data-loop-end="4"] .slider:after {
  right: calc(var(--step-width) * 11);
}
.track[data-loop-end="5"] .slider:after {
  right: calc(var(--step-width) * 10);
}
.track[data-loop-end="6"] .slider:after {
  right: calc(var(--step-width) * 9);
}
.track[data-loop-end="7"] .slider:after {
  right: calc(var(--step-width) * 8);
}
.track[data-loop-end="8"] .slider:after {
  right: calc(var(--step-width) * 7);
}
.track[data-loop-end="9"] .slider:after {
  right: calc(var(--step-width) * 6);
}
.track[data-loop-end="10"] .slider:after {
  right: calc(var(--step-width) * 5);
}
.track[data-loop-end="11"] .slider:after {
  right: calc(var(--step-width) * 4);
}
.track[data-loop-end="12"] .slider:after {
  right: calc(var(--step-width) * 3);
}
.track[data-loop-end="13"] .slider:after {
  right: calc(var(--step-width) * 2);
}
.track[data-loop-end="14"] .slider:after {
  right: calc(var(--step-width) * 1);
}
.track[data-loop-end="15"] .slider:after {
  right: calc(var(--step-width) * 0);
}



.slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/* Targeting the track */
.slider input[type="range"]::-webkit-slider-runnable-track {
  pointer-events: none;
  background: var(--slider-track);
  height: 5px;
  border-radius: 5px;
}

.slider input[type="range"]::-moz-range-track {
  pointer-events: none;
  background: var(--slider-track);
  height: 5px;
  border-radius: 5px;
}

/* Targeting the thumb */
.slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto; /* Enable pointer events on thumb for WebKit/Blink */
  -webkit-appearance: none; /* Necessary to apply custom styles on WebKit/Blink */
  margin-top: -5px; /* Centers thumb on the track */
  height: 15px;
  width: 0px;
  border-left: 1px solid var(--ui-color);
  border-right: 1px solid var(--ui-color);
/*   z-index: 20; */
}

/* Targeting the thumb */
.slider input[type="range"]::-moz-range-thumb {
  pointer-events: auto; /* Enable pointer events on thumb for WebKit/Blink */
  -webkit-appearance: none; /* Necessary to apply custom styles on WebKit/Blink */
  margin-top: -5px; /* Centers thumb on the track */
  height: 15px;
  width: 0px;
  border-left: 2px solid var(--ui-color);
/*   z-index: 20; */
}

/* [OLD] slider styles */

.rs-container * {
box-sizing: border-box;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select:none;
}

.rs-container {
font-family: Arial, Helvetica, sans-serif;
height: 20px;
position:relative
}

.rs-container .rs-bg, .rs-container .rs-selected {
background: var(--deactivated);
height: 5px;
left: 0;
right: 0;
position: absolute;
top: 10px;
border-radius:3px
}

.rs-container .rs-selected {
background-color: var(--ui-color);
width:0
}

.rs-container.disabled .rs-selected {
background-color: #ccc;
border-color:#bbb
}

.rs-container .rs-pointer {
background-color: transparent;
cursor: pointer;
height: 15px;
position: absolute;
top: 5px;
width: 40px;
transform: translateX(-3px);
}

.rs-container .rs-pointer+.rs-pointer {
transform: translateX(3px);
}

.rs-container .rs-pointer:after {
content: " ";
display: block;
width: 2px;
height: 15px;
background: var(--ui-color);
margin: 0 auto;
}

.rs-container.sliding .rs-pointer, .rs-container.sliding .rs-selected {
transition:none
}

.rs-container .rs-scale {
left: 20px;
right: 20px;
display: flex;
flex-direction: row;
justify-content: space-between;
position: absolute;
top: 5px;
white-space:nowrap;
display: none;
}

.rs-container.rs-noscale span::before {
display:none
}

.rs-container.rs-noscale span:first-child::before, .rs-container.rs-noscale span:last-child::before {
display:block
}

.rs-container .rs-scale span:last-child {
margin-left: -1px;
width:0
}

.rs-container .rs-scale span ins {
color: #333;
display: inline-block;
font-size: 12px;
margin-top: 20px;
text-decoration:none
}

.rs-container.disabled .rs-scale span ins {
color:#999
}

.rs-tooltip {
display: none;
}

.rs-container.disabled .rs-tooltip {
border-color: #ccc;
color: #999
}