@font-face {
  font-family: "PartyCoreUI";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/InterDisplay-Light.woff2") format("woff2");
}

:root {
  --ui-color: #fff;
  --background-color: #222;
  --deactivated: rgba(127.5,127.5,127.5,0.3);
  --slider-track: rgba(127.5,127.5,127.5,0.15);
  --step-width: calc(100% / 15);
  --track-1-color: #e56137;
  --track-5-color: #d59525;
  --track-12-color: #dec12e;
  --track-8-color: #4ab44f;
  --track-4-color: #73b8ad;
  --track-11-color: #73acb5;
  --track-7-color: #76adc9;
  --track-3-color: #5692c3;
  --track-10-color: #6865ae;
  --track-6-color: #a25fb7;
  --track-2-color: #db5065;
  --track-9-color: #a39278;
}


html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: PartyCoreUI;
  font-variation-settings: "wght" 250;
  font-feature-settings:
    "calt" 01,
    "dlig" 01,
    "case" 01,
    "ss01" 01,
    "ss02" 01,
    "ss07" 01,
    "ss08" 01,
    "cv10" 01,
    "cv13" 00;
    -webkit-font-smoothing: antialiased;
    font-size: 23px;
    line-height: 1;
    letter-spacing: 0.0125em;
    text-transform: lowercase;
    background: var(--background-color);
    color: var(--ui-color);
}

@media (prefers-color-scheme: light) {
  html {
    color: var(--background-color);
    background-color: var(--ui-color);
  }
}

html#xmas {
  background-image: url("/assets/kevin-mueller-gI34zzSks8E-unsplash.dark.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

@media (prefers-color-scheme: light) {
  html#xmas {
    background-image: url("/assets/kevin-mueller-gI34zzSks8E-unsplash.jpg");
  }
}

html#xmas header > h1::before {
  content: "🎄 ";
}

html * {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  min-height: 100dvh;
  margin: 0;
  padding: 20px 20px 25px;
  box-sizing: border-box;
}

header,
footer {
  width: 100%;
  max-width: 902px;
  text-align: left;
}

header a,
footer a {
  color: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: .1em;
}

.partymix_index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: calc(100dvh - 45px);
  max-width: 902px;
  gap: 1rem;
}

.partymix_index ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

.partymix_index ul a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 44px;
  box-sizing: border-box;
  padding-bottom: 5px;
  border: 1.5px solid;
  border-radius: 27px;
  font-size: 28px;
  color: inherit;
  text-decoration: none;
}


main {
  margin: auto;
  height: fit-content;
  min-height: 1px!important;
}

#sequencer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
  padding: 5px;
}

/*
@media (orientation: portrait) {
  #sequencer {
    flex-direction: row;
    gap: 40px;
  }
}
*/

.track {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
  color: var(--ui-color);
}

/*
@media (orientation: portrait) {
  .track {
    display: grid;
    grid-template-columns: 44px 44px;
    gap: 40px;
  }
}
*/

.track h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  -webkit-user-select: none;
  user-select: none;
}

/*
@media (orientation: portrait) {
  .track h2 {
    grid-column: 1 / 3;
  }
}
*/

.steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

/*
@media (orientation: portrait) {
  .steps {
    flex-direction: column;
    gap: 0;
    grid-column: 1 / 2;
    margin-bottom: 0;
  }
}
*/

.steps label {
  position: relative;
  overflow: visible;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  border: 1.5px solid;
  border-radius: 27px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-size: 28px;
}

/*
@media (orientation: portrait) {
  .steps label {
    border-radius: 0;
    border-top: none;
  }
  .steps label:first-child {
    border-top: 1px solid;
    border-radius: 9px 9px 0 0;
  }
  .steps label:last-child {
    border-radius: 0 0 9px 9px;
  }
}
*/

.track[data-loop-start="0"] label:nth-child(1),
.track[data-loop-start="0"] label:nth-child(1) ~ label,
.track[data-loop-start="1"] label:nth-child(1) ~ label,
.track[data-loop-start="2"] label:nth-child(2) ~ label,
.track[data-loop-start="3"] label:nth-child(3) ~ label,
.track[data-loop-start="4"] label:nth-child(4) ~ label,
.track[data-loop-start="5"] label:nth-child(5) ~ label,
.track[data-loop-start="6"] label:nth-child(6) ~ label,
.track[data-loop-start="7"] label:nth-child(7) ~ label,
.track[data-loop-start="8"] label:nth-child(8) ~ label,
.track[data-loop-start="9"] label:nth-child(9) ~ label,
.track[data-loop-start="10"] label:nth-child(10) ~ label,
.track[data-loop-start="11"] label:nth-child(11) ~ label,
.track[data-loop-start="12"] label:nth-child(12) ~ label,
.track[data-loop-start="13"] label:nth-child(13) ~ label,
.track[data-loop-start="14"] label:nth-child(14) ~ label,
.track[data-loop-start="15"] label:nth-child(15) ~ label {
  opacity: 1;
}


.steps label,
.track[data-loop-end="0"] label:nth-child(1) ~ label,
.track[data-loop-end="1"] label:nth-child(2) ~ label,
.track[data-loop-end="2"] label:nth-child(3) ~ label,
.track[data-loop-end="3"] label:nth-child(4) ~ label,
.track[data-loop-end="4"] label:nth-child(5) ~ label,
.track[data-loop-end="5"] label:nth-child(6) ~ label,
.track[data-loop-end="6"] label:nth-child(7) ~ label,
.track[data-loop-end="7"] label:nth-child(8) ~ label,
.track[data-loop-end="8"] label:nth-child(9) ~ label,
.track[data-loop-end="9"] label:nth-child(10) ~ label,
.track[data-loop-end="10"] label:nth-child(11) ~ label,
.track[data-loop-end="11"] label:nth-child(12) ~ label,
.track[data-loop-end="12"] label:nth-child(13) ~ label,
.track[data-loop-end="13"] label:nth-child(14) ~ label,
.track[data-loop-end="14"] label:nth-child(15) ~ label,
.track[data-loop-end="15"] label:nth-child(16) ~ label {
  opacity: 0.4;
}

@media (prefers-color-scheme: light) {
  .steps label,
  .track[data-loop-end="0"] label:nth-child(1) ~ label,
  .track[data-loop-end="1"] label:nth-child(2) ~ label,
  .track[data-loop-end="2"] label:nth-child(3) ~ label,
  .track[data-loop-end="3"] label:nth-child(4) ~ label,
  .track[data-loop-end="4"] label:nth-child(5) ~ label,
  .track[data-loop-end="5"] label:nth-child(6) ~ label,
  .track[data-loop-end="6"] label:nth-child(7) ~ label,
  .track[data-loop-end="7"] label:nth-child(8) ~ label,
  .track[data-loop-end="8"] label:nth-child(9) ~ label,
  .track[data-loop-end="9"] label:nth-child(10) ~ label,
  .track[data-loop-end="10"] label:nth-child(11) ~ label,
  .track[data-loop-end="11"] label:nth-child(12) ~ label,
  .track[data-loop-end="12"] label:nth-child(13) ~ label,
  .track[data-loop-end="13"] label:nth-child(14) ~ label,
  .track[data-loop-end="14"] label:nth-child(15) ~ label,
  .track[data-loop-end="15"] label:nth-child(16) ~ label {
    opacity: 0.5;
  }
}

.steps label input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}

.steps label span {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 25px;
  margin: -1px;
  box-sizing: border-box;
  padding: 6px;
}

/*
@media (orientation: portrait) {
  .steps label span {
    border-radius: 0;
  }
  .steps label:first-child span {
    border-radius: 9px 9px 0 0;
  }
  .steps label:last-child span {
    border-radius: 0 0 9px 9px;
  }
}
*/

.steps label:focus span {
}

.steps label input:checked + span {
  background: var(--ui-color);
  color: var(--background-color);
}

@media (prefers-color-scheme: light) {
  .steps label input:checked + span {
    color: #fff;
  }
}

.steps label:focus input:checked + span {
  opacity: 0.8;
}

.steps label div {
  display: block;
  width: 100%;
  height: 44px;
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent!important;
}

/*
@media (orientation: portrait) {
  .steps label div {
    top: 0;
    left: 100%;
    height: 100%;
  }
}
*/

.steps label div:after {
  content: " ";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: var(--deactivated);
  transition: ease 0.2s;
}

.steps label div.active:after {
  background: var(--ui-color);
  transform: 0s;
}


/* slider styles */
/* See: https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */

/*
@media (orientation: portrait) {
  .loop-range {
    grid-column: 2 / 3;
  }
}
*/

.slider {
  margin: 10px 15px 0;
  background-color: transparent!important;
}

/*
@media (orientation: portrait) {
  .slider {
    margin: 20px 0 20px 10px;
    height: calc(100% - 40px);
  }
}
*/

.slider:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 5px;
  background: var(--ui-color);
/*   z-index: 10; */
}

.track[data-loop-start="0"] .slider:after {
  left: calc(var(--step-width) * 0);
}
.track[data-loop-start="1"] .slider:after {
  left: calc(var(--step-width) * 1);
}
.track[data-loop-start="2"] .slider:after {
  left: calc(var(--step-width) * 2);
}
.track[data-loop-start="3"] .slider:after {
  left: calc(var(--step-width) * 3);
}
.track[data-loop-start="4"] .slider:after {
  left: calc(var(--step-width) * 4);
}
.track[data-loop-start="5"] .slider:after {
  left: calc(var(--step-width) * 5);
}
.track[data-loop-start="6"] .slider:after {
  left: calc(var(--step-width) * 6);
}
.track[data-loop-start="7"] .slider:after {
  left: calc(var(--step-width) * 7);
}
.track[data-loop-start="8"] .slider:after {
  left: calc(var(--step-width) * 8);
}
.track[data-loop-start="9"] .slider:after {
  left: calc(var(--step-width) * 9);
}
.track[data-loop-start="10"] .slider:after {
  left: calc(var(--step-width) * 10);
}
.track[data-loop-start="11"] .slider:after {
  left: calc(var(--step-width) * 11);
}
.track[data-loop-start="12"] .slider:after {
  left: calc(var(--step-width) * 12);
}
.track[data-loop-start="13"] .slider:after {
  left: calc(var(--step-width) * 13);
}
.track[data-loop-start="14"] .slider:after {
  left: calc(var(--step-width) * 14);
}
.track[data-loop-start="15"] .slider:after {
  left: calc(var(--step-width) * 15);
}


.track[data-loop-end="0"] .slider:after {
  right: calc(var(--step-width) * 15);
}
.track[data-loop-end="1"] .slider:after {
  right: calc(var(--step-width) * 14);
}
.track[data-loop-end="2"] .slider:after {
  right: calc(var(--step-width) * 13);
}
.track[data-loop-end="3"] .slider:after {
  right: calc(var(--step-width) * 12);
}
.track[data-loop-end="4"] .slider:after {
  right: calc(var(--step-width) * 11);
}
.track[data-loop-end="5"] .slider:after {
  right: calc(var(--step-width) * 10);
}
.track[data-loop-end="6"] .slider:after {
  right: calc(var(--step-width) * 9);
}
.track[data-loop-end="7"] .slider:after {
  right: calc(var(--step-width) * 8);
}
.track[data-loop-end="8"] .slider:after {
  right: calc(var(--step-width) * 7);
}
.track[data-loop-end="9"] .slider:after {
  right: calc(var(--step-width) * 6);
}
.track[data-loop-end="10"] .slider:after {
  right: calc(var(--step-width) * 5);
}
.track[data-loop-end="11"] .slider:after {
  right: calc(var(--step-width) * 4);
}
.track[data-loop-end="12"] .slider:after {
  right: calc(var(--step-width) * 3);
}
.track[data-loop-end="13"] .slider:after {
  right: calc(var(--step-width) * 2);
}
.track[data-loop-end="14"] .slider:after {
  right: calc(var(--step-width) * 1);
}
.track[data-loop-end="15"] .slider:after {
  right: calc(var(--step-width) * 0);
}

.slider > div {
  position: absolute;
  top: 0;
  left: 5px;
  right: 5px;
  height: 5px;
  background: var(--deactivated);
  border-radius: 5px;
}

/*
@media (orientation: portrait) {
  .slider > div {
    left: 6px;
    right: auto;
    top: 5px;
    bottom: 5px;
    width: 5px;
    height: auto;
  }
}
*/

.slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

/* Targeting the track */
.slider input[type="range"]::-webkit-slider-runnable-track {
  pointer-events: none;
  background: var(--slider-track);
  height: 0px;
}

.slider input[type="range"]::-moz-range-track {
  pointer-events: none;
  background: var(--slider-track);
  height: 0px;
}

/* Targeting the thumb */
.slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto; /* Enable pointer events on thumb for WebKit/Blink */
  -webkit-appearance: none; /* Necessary to apply custom styles on WebKit/Blink */
  margin-top: -7px; /* Centers thumb on the track */
  height: 18px;
  width: 18px;
  background-color : var(--ui-color);
  border-radius: 9999px;
  /*border-left: 1px solid var(--ui-color);
  border-right: 1px solid var(--ui-color);*/
/*   z-index: 20; */
}

/* Targeting the thumb */
.slider input[type="range"]::-moz-range-thumb {
  pointer-events: auto; /* Enable pointer events on thumb for WebKit/Blink */
  -webkit-appearance: none; /* Necessary to apply custom styles on WebKit/Blink */
  margin-top: -7px; /* Centers thumb on the track */
  height: 18px;
  width: 18px;
  background-color : var(--ui-color);
  border-radius: 9999px;
  /*border-left: 1px solid var(--ui-color);
  border-right: 1px solid var(--ui-color);*/
/*   z-index: 20; */
}

#player button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 44px;
  box-sizing: border-box;
  padding-bottom: 5px;
  padding-left: 27px;
  padding-right: 27px;
  border: 1.5px solid;
  border-radius: 27px;
  text-decoration: none;
  text-transform: lowercase;
  background: transparent;
  color: inherit;
  font-size: 23px;
  line-height: 1;
  letter-spacing: 0.0125em;
  cursor: pointer;
}



/* New party */

#newParty {
  width: 100%;
  max-width: 902px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}

#newParty h2:not(:first-child) {
  margin-top: 20px;
}

#newParty > button {
  box-sizing: border-box;
  color: var(--ui-color);
  background: var(--background-color);
  height: 44px;
  border-radius: 22px;
  border: 1px solid;
  width: 6em;
  padding: 0 20px 2px;
  cursor: pointer;
}

#newParty ul {
  width: 100%;
  max-width: 902px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}

#newParty li {
  background: var(--ui-color);
  color: var(--background-color);
  padding: 5px 5px 5px 20px;
  border-radius: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#newParty li button {
  box-sizing: border-box;
  color: var(--ui-color);
  background: var(--background-color);
  height: 44px;
  border-radius: 22px;
  border: none;
  width: 6em;
  padding: 0 20px 2px;
  cursor: pointer;
}

#newParty label {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

#newParty ul:nth-child(4) li {
  background: transparent;
  color: var(--ui-color);
  border: 1px solid;
}

#newParty ul:nth-child(4) li button {
  background: var(--ui-color);
  color: var(--background-color);
}

#sequencer .track:nth-child(1),
#newParty ul:nth-child(2) li:nth-child(1),
#newParty ul:nth-child(4) li:nth-child(1) {
  --ui-color: var(--track-1-color);
}

#sequencer .track:nth-child(2),
#newParty ul:nth-child(2) li:nth-child(2),
#newParty ul:nth-child(4) li:nth-child(2) {
  --ui-color: var(--track-2-color);
}

#sequencer .track:nth-child(3),
#newParty ul:nth-child(2) li:nth-child(3),
#newParty ul:nth-child(4) li:nth-child(3) {
  --ui-color: var(--track-3-color);
}

#sequencer .track:nth-child(4),
#newParty ul:nth-child(2) li:nth-child(4),
#newParty ul:nth-child(4) li:nth-child(4) {
  --ui-color: var(--track-4-color);
}

#sequencer .track:nth-child(5),
#newParty ul:nth-child(2) li:nth-child(5),
#newParty ul:nth-child(4) li:nth-child(5) {
  --ui-color: var(--track-5-color);
}

#sequencer .track:nth-child(6),
#newParty ul:nth-child(2) li:nth-child(6),
#newParty ul:nth-child(4) li:nth-child(6) {
  --ui-color: var(--track-6-color);
}

#sequencer .track:nth-child(7),
#newParty ul:nth-child(2) li:nth-child(7),
#newParty ul:nth-child(4) li:nth-child(7) {
  --ui-color: var(--track-7-color);
}

#sequencer .track:nth-child(8),
#newParty ul:nth-child(2) li:nth-child(8),
#newParty ul:nth-child(4) li:nth-child(8) {
  --ui-color: var(--track-8-color);
}

#sequencer .track:nth-child(9),
#newParty ul:nth-child(2) li:nth-child(9),
#newParty ul:nth-child(4) li:nth-child(9) {
  --ui-color: var(--track-9-color);
}

#sequencer .track:nth-child(10),
#newParty ul:nth-child(2) li:nth-child(10),
#newParty ul:nth-child(4) li:nth-child(10) {
  --ui-color: var(--track-10-color);
}

#sequencer .track:nth-child(11),
#newParty ul:nth-child(2) li:nth-child(11),
#newParty ul:nth-child(4) li:nth-child(11) {
  --ui-color: var(--track-11-color);
}

#sequencer .track:nth-child(12),
#newParty ul:nth-child(2) li:nth-child(12),
#newParty ul:nth-child(4) li:nth-child(12) {
  --ui-color: var(--track-12-color);
}


